#page {
  width: 800px;
  background-color: var(--surface-color);
  padding: 24px;
  margin: 48px auto 0;
  border-radius: 24px;

    img {
      border-radius: 16px;
    }
}

#about {
  margin-top: 24px;

  p:nth-child(2) {
    margin-block: 4px 12px;
  }
}

#ingredients {
  margin-block: 24px;

  ul {
    margin:4px 0 0 24px;
  }
}

#preparing {

  h2{
    margin-bottom: 4px;
  }
}